body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-background {
  background: url('http://www.getmdl.io/assets/demos/transparent.jpg') center / cover;
}

.white {
  color: white;
}

div.mdl-card {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.card-title {
  color: #fff;
  height: 100px;
  background: url('http://www.getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}